* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px;
    background: #000000;
}

.page-header-logo {
    display: block;
}

.main-banner-desktop {
    max-width: 100%;
}

.main-banner-mobile {
    display: none;
    max-width: 100%;
}

.infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-infocards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 66px;
    max-width: 766px;
    margin: 0 auto;
}

.top-infocard-title {
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
}

.top-infocard-subtitle {
    font-weight: 500;
    font-size: 48px;
    line-height: 75px;
    text-transform: uppercase;
}

.top-infocard-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.top-infocard-image {
    max-width: 240px;
}

.top-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 186px;
    padding: 0 32px;
}

.top-card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 22px;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-description {
    padding: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.top-card-image {
    margin-top: 36px;
}

.middle-cards {
    background: #E0E0E0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 140px;
}

.middle-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3,max-content);
    justify-content: center;
    gap: 32px;
    position: relative;
    bottom: -140px;
}

.middle-cards-top {
    display: flex;
    gap: 32px;
}

.middle-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 186px;
    padding: 0 32px;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 22px;
    margin-top: 136px;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.bottom-card-description {
    padding: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.pre-footer {
    justify-content: center;
    align-items: center;
}

.pre-footer-all {
    display: flex;
    flex-direction: column;
    padding: 140px;
    justify-content: center;
    align-items: center;
}

.pre-footer-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
}

.pre-footer-description {
    padding: 20px;
    margin-bottom: 12px;
    text-align: center;
    max-width: 550px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.pre-footer-desktop-image {
    max-height: 276px;
}

.pre-footer-mobile-image {
    display: none;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding: 38px 0;
}

.footer-icons {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon {
    margin: 0 8px;
}

.footer-text {
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
}


@media screen and (max-width: 414px) {

    .main-banner-desktop {
        display: none;
    } 

    .main-banner-mobile {
        display: block;
    }

    .top-infocards {
        padding: 40px;
    }

    .top-infocard-title {
        font-size: 20px;
        margin-top: 54px;
    }

    .top-infocard-subtitle {
        font-size: 28px;
        margin-bottom: 20px;
        margin-top: -20px
    }

    .top-infocard-description {
        text-align: center;
        margin-left: 16px;
        margin-top: -20px;
    }

    .top-cards {
        max-width: unset;
        display: grid;
        grid-template-columns: 1fr;
        padding: 36px 26px;
        margin-top: 80px;
    }

    .top-card {
        padding: 0px;
        margin-top: 24px;
        max-width: unset;
        width: 100%;
    }

    .middle-cards {
        border: unset;
        margin-top: 0;
    }

    .middle-card {
        display: block;
    }

    .middle-cards-wrapper {
        display: flex;
        flex-direction: column;
        padding: 22px;
        bottom: -122px;
        
    }

    .middle-cards-top {
        display: flex;
        gap: 14px;
    }

    .middle-card-image-1, .middle-card-image-2  {
        width: 100%;
    }

    .middle-card-image-3 {  
        width: 100%;
    }

    .bottom-cards {
        max-width: unset;
        display: grid;
        grid-template-columns: 1fr;
        padding: 36px 26px;
        margin-top: 80px;
    }

    .bottom-card {
        margin-top: 24px;
        max-width: unset;
        width: 100%;
    }
    
    .pre-footer-all {
        padding: 0;
    }
    .pre-footer-desktop-image {
        display: none;
    }

    .pre-footer-mobile-image {
        display: block;
    }

    .pre-footer-title {
        margin-top: 50px;
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
    }

    .pre-footer-description {
        max-width: 350px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .footer-text {
        max-width: 280px;
        text-align: center;
    }
}

@media screen and (min-width: 415px) and (max-width: 1025px){

    .main-banner-desktop {
        display: none;
    }

    .main-banner-mobile {
        display: block;
        width: 100%;
    }

    .top-infocard-title {
        font-size: 20px;
        margin-top: 54px;
    }

    .top-infocard-subtitle {
        font-size: 28px;
        margin-bottom: 20px;
        margin-top: -20px
    }

    .top-infocard-description {
        margin-left: 16px;
        margin-top: -20px;
    }

    .top-cards {
        max-width: unset;
        display: grid;
        grid-template-columns: 1fr;
        padding: 36px 26px;
    }

    .top-card {
        max-width: unset;
        width: 100%;
    }

    .middle-cards {
        border: unset;
        margin-top: 0;
    }

    .middle-card {
        display: block;
    }

    .middle-cards-wrapper {
        display: flex;
        flex-direction: column;
        padding: 22px;
        bottom: -122px;
        
    }
    
    .middle-cards-top {
        display: flex;
        gap: 14px;
    }

    .middle-card-image-1, .middle-card-image-2  {
        width: 100%;
    }

    .middle-card-image-3 {  
        width: 100%;
    }

    .bottom-cards {
        max-width: unset;
        display: grid;
        grid-template-columns: 1fr;
        padding: 36px 26px;
    }

    .bottom-card {
        max-width: unset;
        width: 100%;
    }


    .pre-footer-all {
        padding: 0;
    }
    .pre-footer-desktop-image {
        display: none;
    }

    .pre-footer-mobile-image {
        display: block;
    }

    .pre-footer-title {
        margin-top: 50px;
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
    }

    .pre-footer-description {
        max-width: 350px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .footer-text {
        max-width: 280px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .main-banner-mobile {
        display: none;
    }

    .main-banner-desktop {
        display: block;
    }
    
}